<!DOCTYPE html>
<html lang="en">

<head>
  {{>headers}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <!-- left div -->
            <figure>
                <img src="img/about2.jpg" alt="about image" class="img-fluid" id="img_about">
            </figure>
            <!-- right div -->
            <div class="col-md-6 col-6 ml-auto main_header_right">
                <div class="col-md-6 col-6 mr-auto main_header_left">
                    <h3>Welcome</h3>
                    <h1 class="text">Hello I am Full stack developer</h1>
                    <a href="https://www.linkedin.com/in/mohd-afroz-shah-a50020230/"><button>About Me</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>